# Entorno virtual
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno
.env
.env.local

# Uploads
uploads/
*.jpg
*.jpeg
*.png
*.gif

# Logs
*.log

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db